/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

composer.phar

# https://qiita.com/llhrkll/items/513c23008b2596089a00
# for heroku
public/js
public/css